cryptography==41.0.4
flask_restx==1.1.0
Jinja2==3.1.2
Flask==2.3.3
flask-restx==1.1.0
gunicorn==21.2.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
pipenv==2023.9.8
requests==2.31.0
urllib3==1.26.16
virtualenv==20.24.5
flask-cors==4.0.0